@font-face {
    font-family: 'Nabla';
    src: url('./fonts/Nabla-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background: rgb(86, 18, 91);
    background: linear-gradient(339deg, rgba(86, 18, 91, 1) 0%, rgba(40, 10, 80, 1) 100%);
    min-height: 100vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Nabla', cursive;
    color: goldenrod;
    margin-top: 96px;
    font-size: 10em;
}

.result-text {
    font-family: 'Nabla', cursive;
    color: goldenrod;
    font-size: 2em;
}
